/************ 
//--------------------------------
// GENERAL
//-------------------------------
************/
body {
	margin: 0;
	padding: 0;
	color: #666;
	background: #f2f2f2; 
	padding-top: 80px;
}

h1 {
	/* font-size: 2.3em;
  line-height: 1.3em; */
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}


/************ 
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
	background: #333;
	color: white;
	height: 80px;
	z-index:2;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}	
	#main-header a {
		color: white;
	}
	
	
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 750;
		font-size: 1.4em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	

/*
 * Navegación
 */
nav {
	float: right;
	z-index:2;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}
	



/************ 
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
	background: white;
	width: 99%;
	padding: 5px;
	/*padding-top: 0px;
	 max-width: 80px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1); */
}
#tabsMeses{	
    font-size: initial;
    background: #666;
	position: fixed;
	padding: 0;
	z-index:2;
	
}
#tabsMeses > ul{	
	display: table;
    width: 100%;
	table-layout: fixed;
	padding: 0;
}
#tabsMeses> ul > li{
	float: none;
	display: table-cell;
	width:100%;
	background:silver;

}
#tabsMeses a{ 
	color: #333;
	text-align: center;
	width:100%;

}

 a.button:hover,  a.buttonClick, .ui-state-active a:link,  .ui-state-active a:visited #tabsMeses .ui-state-active, #tabsMeses .ui-widget-content .ui-state-active, #tabsMeses .ui-widget-header .ui-state-active {
	background-color: #ffffff;
	border: 3px solid #ffffff;
	color: white;
	border-bottom: 0;
	padding-bottom: 3px;
}

#tabsMeses.ui-tabs .ui-tabs-panel {
	border: 0;
}

#tabcontent{
	margin-top: 50px;
	z-index:1;
}
#gastosMes{
	margin-top: 15px;
	width: 97%;
}
#BotonesAñadir{
	text-align: center;
    margin-top: 12px;
}
#añadirGasto{
	color: red;
  	border: 2px solid red; 
}
.error{
	color:red;
}
.red{
	background-color: rgba(255, 0, 0, 0.199);
}
.green{
	background-color: rgba(0, 255, 0, 0.199);
}
#añadirIngreso{
	color: green;
  	border: 2px solid green; 
}
#divObjetivos{
    float: right;
    padding: 0px;
}
#panelTabla{
	margin-left: 5px;

}
#glyphiconAñadirObjetivo{
	float: right;
}
.glyphicon{
	margin-left: 5px;
}
#divSelectCategorias{
	margin: 45px;
	font-size: medium;
}
#panelTabla .panel-body{
	height:550px;
}
/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}
